{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login </h2>
         <form action="/accounts/auth/" method="post">
             {% csrf_token %}  
             <p>
                <label> Email
                    <br><input type="email" name="email" placeholder="е-почта" required /> </label><br>
                <label> Password
                    <br><input type="password" name="password" placeholder="пароль" required/><br></label>
             </p>   
            <input type="submit" class="btn btn-primary " value="login"/></br>

               <a href="{% url 'login' %}">forgot?</a><br>
               <a href="/accounts/register/">signup</a><br>

         </form>
    </div>
{% endblock %}
